:root {
    --orange: #EF6E47;
    --white: #FFFFFF;
    --navy: #0D0F4A;
    --lightorange: #FFA364;
    --lightgray: #E0EAF8;
}

.IdentityApp div {
    background-color: var(--lightgray);
}

.IdentityApp input[type=text], .IdentityApp input[type=password], .IdentityApp select {
    padding: 1em;
    margin: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    box-sizing: border-box;
}

.IdentityApp input[type=submit], .IdentityApp button[type=submit], .IdentityApp button {
    /* width: 100%; */
    background-color: var(--navy);
    color: var(--white);
    padding: 1em;
    margin: 0.5em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
}

.IdentityApp input[type=submit]:hover, .IdentityApp button[type=submit]:hover, .IdentityApp button:hover {
    background-color: var(--lightorange);
    color: var(--navy);
}

.IdentityApp form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.IdentityApp form label {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
}

.IdentityApp div {
    border-radius: 0.5em;
    padding: 1em;
}

.IdentityApp nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--navy);
}

.IdentityApp nav li {
    float: left;
}

.IdentityApp nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.IdentityApp nav li a:hover {
    background-color: var(--lightorange);
}

.IdentityApp nav li a.active {
    background-color: var(--orange);
}